<h1> Editing Lunch Details</h1>
<%= form_for(@lunchdetail) do |f| %>
<p>
	<%= f.label :name %>
	<% users = User.all %>
    <%= f.collection_select( :user_id, users, :id, :name, :prompt => true) %>
</p>
<p>
	<%= f.label :Date %>
	<%= f.text_field :date %>
</p>
<p>
	<%= f.label :Had_Lunch %>
	<%= f.select :had_lunch, [ 'Yes','No' ], :prompt => 'Select One' %>
</p>
<p>
	<%= f.label :Cost_of_meal %>
	<%= f.select :daily_invoice_id, options_for_select(DailyInvoice.all.map {|p| ["#{p.date} - #{p.amount} - #{p.restaurant_name}", p.id]})%>
</p>
<p>
    <%= f.submit %>
  </p>
<% end %>