<h1>Lunch Details</h1>
<table>
	<tr>
	<th>User Name</th>
	<th>Date</th>
	<th>Had Meal</th>
	</tr>
	<% @lunchdetails.each do |lunchdetail| %>
	<tr>
		<td> <%= link_to "#{lunchdetail.user.name}",edit_lunch_detail_path(lunchdetail) %> </td>
		<td> <%= lunchdetail.date%> </td>
		<td> <%= lunchdetail.had_lunch%></td>
		<td> <%#= link_to 'Edit', edit_lunch_detail_path(lunchdetail) %></td>
		<td><%= link_to 'Destroy', lunch_detail_path(lunchdetail),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>
</table>
<p>
	<%= link_to 'Meal Register', new_lunch_detail_path, class: "btn btn-primary"%>
</p>

