<p>
	<strong>name</strong>
	<% users = User.all %>
    <%= f.collection_select( :user_id, users, :id, :name, :prompt => true) %>
</p>	
<p>
    <strong> Date </strong>
    <%= @lunchdetail.date %>
</p>
<p>
	<strong> Had Lunch</strong>
	<%= @lunchdetail.had_lunch %>
</p>
<p>
	<strong>Cost Of Meal</strong>
	<%= f.select :daily_invoice_id, options_for_select(DailyInvoice.all.map {|p| ["#{p.date} - #{p.amount} - #{p.restaurant_name}", p.id]})%>
</p>
<%= link_to 'Edit', edit_lunch_detail_path(@lunchdetail) %>
<%= link_to 'Back', lunch_details_path %>