	<h1> Daily Invoices</h1>
  <p>
		<%= link_to 'New Daily Invoice', new_daily_invoice_path, :class => "btn btn-primary"%>
	</p>
	<table class="table table-bordered">
	 <thead>
		<tr>
			<th>Restaurant Name</th>
			<th>Amount</th>
			<th>Date</th>
      <th>Options</th>
		</tr>
		 </thead>
   <tbody>
		<% @dailyinvoices.each do |dailyinvoice| %>
		<tr>
			<td>
				<%= dailyinvoice.restaurant_name %>
			</td>
			<td>
				<%= dailyinvoice.amount %>
			</td>
			<td>
				<%= dailyinvoice.date %>
			</td>
      <td>
        <%= link_to "ViewBill", image_tag(dailyinvoice.image.url) %>
      </td>
			<td><%= link_to 'Edit', edit_daily_invoice_path(dailyinvoice) %></td>
			<td><%= link_to 'Destroy', daily_invoice_path(dailyinvoice),:method => :delete,:data => { :confirm => 'Are you sure?' } %></td>		
		</tr>
		<% end  %>
		 </tbody>
	</table>
	
	
	
	
	
	
	
