<div class="panel panel-danger">
  <div class="panel-heading">DailyInvoices</div>
  <div class="panel-body">
<%= form_for(@dailyinvoice)do |f| %>

	<%if @dailyinvoice.errors.any? %>
	<div id="error_explaination">
		<h2><%= pluralize(@dailyinvoice.errors.count,"error") %> prohibited this user from being saved:</h2>
		<ul>
			<% @dailyinvoice.errors.full_messages.each do |message| %>
			<li><%= message %>
			</li>
			<% end %>
		</ul>	
	</div>
	<% end %>
	 <div class="form-group">
     <%= f.label :Restaurant_Name %>
	 <%= f.text_field  :restaurant_name ,:class => 'form-control' %>
    </div>
	<div class="form-group">
    <%= f.label :Amount %>
	  <%= f.text_field :amount ,:class => 'form-control' %>
    </div>
	  <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3" >
    <%= f.label :Date %>
	  <%= f.text_field :date ,:class => 'form-control',:id => 'date' %>
    </div>
        </div>
      </div>
    </div>
            <div class="form-group">
    <%= f.label :Bill %>
	  <%= f.file_field :image ,:class => 'form-control' %>
            </div>

	   <button type="save" class="btn btn-success btn-cons">Save</button>
      <%= link_to 'Cancel', daily_invoices_path, :class => "btn btn-danger btn-cons" %>

	   <% end %>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#date").datepicker({dateFormat: "yy-mm-dd"});
    });
</script>


