     <p>
	  <strong>Restaurant_Name:</strong>
	  <%= @dailyinvoice.restaurant_name %>
	</p>
	<p>
	  <strong>Amount:</strong>
	  <%= @dailyinvoice.amount %>
	</p>
	<p>
	  <strong>Date:</strong>
	  <%= @dailyinvoice.date %>
	</p>
	<%= link_to 'Edit', edit_daily_invoice_path(@dailyinvoice) %> |
	<%= link_to 'Back', daily_invoices_path %>
	
<%=select_tag 'lunch_detail_id', options_for_select(DailyInvoice.all.collect{ |u| [u.date, u.id]} ),{:include_blank => true,:onchange => "callMe(this.value)"}%>

