	<p style="font-size:larger;font-weight:bold;text-align:center;color:#B00100;">
	
	</p>
	<br><br/><br>
	<p style="text-align:center;">
		<%= link_to 'User Creation', users_path, :class => "btn btn-primary" %>
	</p>
	<p style="text-align:center;">
	    <%= link_to 'Daily Invoices', daily_invoices_path, :class => "btn btn-primary" %>
	</p>
	<p style="text-align:center;">
		<%= link_to 'Lunch Detail', lunch_details_path, :class => "btn btn-primary" %>
	</p>
	<p style="text-align:center;">
	    <%= link_to 'Daily Detail', daily_details_path, :class => "btn btn-primary" %>
	</p>
	
	<p style="text-align:center;">
	    <%= link_to 'Month Detail', month_details_path, :class => "btn btn-primary" %>
	</p>
	
	
	
